[Unit]
Description=soc
After=soc_rq_worker.service
Requires=soc_rq_worker.service

[Service]
ExecStart=/usr/local/bin/uwsgi --ini /home/tiger/soc_be/deploy/uwsgi.ini
Restart=always
KillSignal=SIGQUIT
Type=notify
RuntimeDirectory=uwsgi
StandardError=syslog
NotifyAccess=all
Environment="SOC_ENV=ONLINE" # 设置环境变量
Environment="DJANGO_SETTINGS_MODULE=soc.settings"

[Install]
WantedBy=multi-user.target